.home {
  min-width: 100vh;
  display: flex;
  flex-direction: column;
}

.contact-container {
  width: 100%;
  max-width: 1440px;
  /* margin: 0px auto; */
  padding: 80px 120px;
  margin-top: 80px !important;
  margin: 0 auto;
}
