/* .subscribe_widgets {
  position: relative;
}

.newsletter-container {
  max-width: 1440px;
  width: 100%;
  padding: 40px 40px;
  margin: 0 auto;
  
}

.newsletter-section {
  background-color: antiquewhite;
  display: flex;
  border-radius: 1rem;
}

.subscribe_text {
  font-size: 2.25rem;
  font-weight: 700;
  align-items: center;
}

.animated-icon {
  font-size: 3rem;
  
  color: #007bff;
  
  animation: bounce 2s infinite;
  
}


@keyframes bounce {

  0%,
  100% {
    transform: translateY(0);
    
  }

  50% {
    transform: translateY(-10px);
    
  }
} 

.animated-icon .rotation-25 {
  transform: rotate(25deg);
}

.newsletter-form {
  display: flex;
  
  max-width: 500px;
  
  margin-top: 20px;
  position: relative;
}

.email-input {
  padding: 1.25rem;
  border: 1px solid #ccc;
  border-radius: 4px;
  
  flex-grow: 1;
  
  outline: none;
  
}

.subscribe-button {
  background-color: #007bff;
  
  color: white;
  padding: 10px 20px;
  border: none;
  border-radius: 4px;
  
  cursor: pointer;
  outline: none;
  position: absolute;
  top: 10px;
  right: 10px;
}

.subscribe-button:hover {
  background-color: #0056b3;
  
}


@media (max-width: 600px) {
  .newsletter-form {
    flex-direction: column;
    
    align-items: stretch;
    
  }

  .email-input {
    border-radius: 4px;
    
    margin-bottom: 10px;
    
  }

  .subscribe-button {
    border-radius: 4px;
    
  }
}

.price-item .price-item--sale .price-item--last{
  font-weight: 700;
  font-size: 3rem;
}

.price-item {
  font-weight: 500;
}
.price-item--sale{
  font-size: 3rem;
}

.icon-with-text__item{
  display: none;
} */